.hero{
    width: 100%;
    padding: 30px 0px;
    &_title{
        width: 65%;
        font-weight: 700;
        font-size: 82px;
        color: white;
    }
    &_text{
        width: 60%;
        font-weight: 400;
        font-size: 32px;
        color: white;
        margin-top: 20px;
    }
    &_button{
        display: flex;
        gap: 20px;
        margin-top: 20px;
        &_btn_yellow{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 5px 20px;
            background-color: white;
            color: #21466D;
            border-radius: 100px;
            border: none;
            font-weight: 500;
            font-size: 24px;
            cursor: pointer;
        }
        &_btn_blue{
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 5px 20px;
            background-color: transparent;
            color: white;
            border-radius: 100px;
            border: 1px solid white;
            font-weight: 500;
            font-size: 24px;
            cursor: pointer;
        }
    }
    &_list{
            display: flex;
            gap: 15px;
            margin-top: 250px;
            &_item{
                text-align: center;
                background-color: white;
                padding: 40px 70px;
                border-radius: 10px;
            }
        }
}