
.navbar{
    width: 100%;
    padding: 30px 0px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_list{
        display: flex;
        gap: 30px;
        &_item a{
            color: white;
            font-weight: 500;
            font-size: 24px;
        }
    }
    &_infos{
        display: flex;
        gap: 10px;
        &_btn{
            padding: 3px 10px;
            border-radius: 31px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
        }
        &_language{
            padding: 3px 8px;
            border-radius: 40px;
            border: 1px solid white;
            color: white;
            background-color: transparent;
        }
    }
}
