.navbar{
    width: 100%;
    padding: 30px 0px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_list{
        display: flex;
    }
}
