@use "navbar";
@use "hero";

@use "about";

@use "usat_numbers";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: 0 auto;
    max-width: 1440px;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

